%h1 Protected Until Confirmed!

%p This page will not be shown until the user has signed up and has confirmed his email

%a{href: root_path, class: 'btn'} Home

%a{href: protected_path, class: 'btn'} Protected

  