%h1 Unconfirmed!

%p The page you attempted to visit is protected until your account is confirmed.
%p Please check your email for confirmation instructions.

%p You may also paste your confirmation token here:

= form_for :user, :url => confirm_user_path do |f|
  %div
    = f.label :confirmation_token,'Confirmation Token:'
    = f.text_field :confirmation_token

  %div{style: "margin-top: 25px"}= f.submit "Confirm", class: 'btn btn-large btn-primary'

%a{href: root_path, class: 'btn'} Home

  